In [52]:
import pandas as pd
import os

"""

    this is to extract as many controls as possible;
    since we have large dataset (30K LSOAs)
    we hope that we can include as many controls as needed;
    
    using 2021 Census in the UK;
    first part of the notebook is where I manually extract the data
    second part includes selected variables extracted by quering the 
    webiste: https://www.nomisweb.co.uk/sources/census_2021_ts
    which i found later and seems to be easier to use
    
"""

In [53]:
data_folder1 = '../data/controls/2021/COLLECTED/'

# 1

# We merge everything in here

In [54]:
first_f = 'age-census2021-ts007a-lsoa.csv' 
DF = pd.read_csv(data_folder1 + first_f)
for f in os.listdir(data_folder1):
    if f.endswith('-lsoa.csv') and f != first_f:
        print(f)
        df = pd.read_csv(data_folder1 + f)
        if not 'date' in df.columns:
            df['date'] = 2021
        
        DF = DF.merge(df, on=['date', 'geography', 'geography code'])

maritalstatus-census2021-lsoa.csv
hourswork-census2021-ts059-lsoa.csv
unemployed-census2021-ts065-lsoa.csv
religion-census2021-ts030-lsoa.csv
sex-census2021-ts008-lsoa.csv
deprivations_v2-lsoa.csv
language-census2021-ts029-lsoa.csv
disability-census2021-ts040-lsoa.csv
distancetowork-census2021-ts058-lsoa.csv
health-census2021-ts037-lsoa.csv
householdtype-census2021-ts003-lsoa.csv
methodtraveltowork-census2021-ts061-lsoa.csv
numhouseholds-census2021-ts041-lsoa.csv

In [55]:
DF.head()

,date,geography,geography code,Age: Total,Age: Aged 4 years and under,Age: Aged 5 to 9 years,Age: Aged 10 to 14 years,Age: Aged 15 to 19 years,Age: Aged 20 to 24 years,Age: Aged 25 to 29 years,...,Method of travel to workplace: Train,"Method of travel to workplace: Bus, minibus or coach",Method of travel to workplace: Taxi,"Method of travel to workplace: Motorcycle, scooter or moped",Method of travel to workplace: Driving a car or van,Method of travel to workplace: Passenger in a car or van,Method of travel to workplace: Bicycle,Method of travel to workplace: On foot,Method of travel to workplace: Other method of travel to work,Number of households: Number of households; measures: Value
0,2021,City of London 001A,E01000001,1473,52,34,32,23,90,159,...,17,13,4,3,18,0,24,109,4,838
1,2021,City of London 001B,E01000002,1384,33,24,22,31,100,166,...,10,15,2,1,19,3,25,92,7,824
2,2021,City of London 001C,E01000003,1613,39,32,33,23,96,187,...,21,26,4,4,24,7,62,143,17,1017
3,2021,City of London 001E,E01000005,1101,52,45,35,89,118,97,...,25,44,2,3,33,1,18,90,8,480
4,2021,Barking and Dagenham 016A,E01000006,1842,153,127,110,122,124,130,...,104,60,1,5,227,10,6,61,17,554

In [56]:
len(DF)

35672

In [57]:
DF.to_csv('../data/glavni/raw_full_controls.csv', index=None)

## Age

In [58]:
f = 'age-census2021-ts007a-lsoa.csv' 

df = pd.read_csv(data_folder1 + f)
del df['date']
df['percent aged 65plus'] = (df['Age: Aged 65 to 69 years']+df['Age: Aged 70 to 74 years']+\
                             +df['Age: Aged 75 to 79 years']++df['Age: Aged 80 to 84 years']+\
                             df['Age: Aged 85 years and over'])/df['Age: Total']
df['percent children up to 14'] = (df['Age: Aged 4 years and under']+df['Age: Aged 5 to 9 years']+\
                             +df['Age: Aged 10 to 14 years']+\
                             df['Age: Aged 85 years and over'])/df['Age: Total']
df['total population'] = df['Age: Total']

df_rural = df[['total population', 'geography code', 'geography']]

del df['Age: Total']
# del df['Age: Aged 85 years and over']
# for c in df_age.columns:
#     if c not in ['geography',	'geography code', 'total population']:
#         df_age[c] = df_age[c]/df_age['total population']
#         df_age.rename(columns={c:c.replace("Age:", "percent")}, inplace=True)
#         df_age.rename(columns={c : c.lower()}, inplace=True)

df_age = df[['geography code', 'geography', 'percent children up to 14', 'percent aged 65plus']]
df_age = df_age.set_index(['geography',	'geography code'])
df_age.head()

,,percent children up to 14,percent aged 65plus
geography,geography code,,
City of London 001A,E01000001,0.103870,0.251188
City of London 001B,E01000002,0.078757,0.200145
City of London 001C,E01000003,0.084935,0.176689
City of London 001E,E01000005,0.130790,0.094460
Barking and Dagenham 016A,E01000006,0.220413,0.085776

In [59]:
# f = 'age-census2021-ts007a-lsoa.csv' 

# df = pd.read_csv(data_folder + f)
# del df['date']
# df['percent aged 65plus'] = (df['Age: Aged 65 to 69 years']+df['Age: Aged 70 to 74 years']+\
#                              +df['Age: Aged 75 to 79 years']++df['Age: Aged 80 to 84 years']+\
#                              df['Age: Aged 85 years and over'])/df['Age: Total']
# df['percent children up to 14'] = (df['Age: Aged 4 years and under']+df['Age: Aged 5 to 9 years']+\
#                              +df['Age: Aged 10 to 14 years']+\
#                              df['Age: Aged 85 years and over'])/df['Age: Total']
# df['total population'] = df['Age: Total']
# del df['Age: Total']
# df_age=df[['geography',	'geography code', 'percent aged 65plus', 'percent children up to 14', 'total population']]
# df_age = df_age.set_index(['geography',	'geography code'])
# # for c in df_age.columns:
# #     if c not in ['geography',	'geography code', 'total population']:
# #         df_age[c] = df_age[c]/df_age['total population']
# #         df_age.rename(columns={c:c.replace("Age:", "percent")}, inplace=True)
# df_age.head()

# Use Total Populations from df_age to extract Urban vs Rural indicator

In [60]:
# df_rural['urban area'] = df_rural['total population']>10000
# df_rural['urban area'] = df_rural['urban area'].astype(int)
df_rural = df_rural.set_index(['geography',	'geography code'])

## Sex

In [62]:
f = 'sex-census2021-ts008-lsoa.csv'
df = pd.read_csv(data_folder1 + f)
del df['date']
df['percent male'] = df['Sex: Male; measures: Value']/df['Sex: All persons; measures: Value']
for c in ['Sex: All persons; measures: Value','Sex: Male; measures: Value', 'Sex: Female; measures: Value']:
    del df[c]
df_sex = df.set_index(['geography',	'geography code'])

## Deprivation

In [63]:
f = 'deprivations_v2-lsoa.csv'
df = pd.read_csv(data_folder1 + f)
del df['data']
# df['percent non-deprived'] = df['Household is not deprived in any dimension']/df['Total: All households']
df['percent mid-deprived'] = df['Household is deprived in two dimensions']/df['Total: All households']
df['percent highly-deprived'] = df['Household is deprived in four dimensions']/df['Total: All households']

df=df[['geography',	'geography code','percent highly-deprived', 'percent mid-deprived']]
df_dep = df.set_index(['geography',	'geography code'])

## Language

In [64]:

f = 'language-census2021-ts029-lsoa.csv'
df = pd.read_csv(data_folder1 + f)
# del df['data']
# df['percent non-english'] = df['Proficiency in English language: Main language is not English (English or Welsh in Wales)']/\
#     df['Proficiency in English language: Total: All usual residents aged 3 years and over']
df['percent poor-english'] = df['Proficiency in English language: Main language is not English (English or Welsh in Wales): Cannot speak English well']/\
     df['Proficiency in English language: Total: All usual residents aged 3 years and over']

df=df[['geography',	'geography code', 'percent poor-english']]
df_lan = df.set_index(['geography',	'geography code'])

## Health

In [65]:
f = 'health-census2021-ts037-lsoa.csv'
df = pd.read_csv(data_folder1 + f)
del df['date']
df['percent very good health'] = df['General health: Very good health']/\
    df['General health: Total: All usual residents']
df['percent bad health'] = df['General health: Bad health']/\
    df['General health: Total: All usual residents']

df=df[['geography',	'geography code', 'percent very good health',\
       'percent bad health']]
df_health = df.set_index(['geography',	'geography code'])

## Unemployment

In [66]:
f = 'health-census2021-ts037-lsoa.csv'
total_residents = pd.read_csv(data_folder1 + f)[['General health: Total: All usual residents', 'geography code']]
total_residents.rename(columns={'General health: Total: All usual residents':'total residents'}, inplace=True)

f = 'unemployed-census2021-ts065-lsoa.csv'
df = pd.read_csv(data_folder1 + f)
df = df.merge(total_residents, on =['geography code'])
df['percent unemployed'] = df['Unemployment history: Total: All usual residents aged 16 years and over not in employment the week before the census']/\
    df['total residents']
df=df[['geography',	'geography code', 'percent unemployed']]

df_unempl = df.set_index(['geography',	'geography code'])

## Marital

In [67]:

# f = 'health-census2021-ts037-lsoa.csv'
# total_residents = pd.read_csv(data_folder + f)[['General health: Total: All usual residents', 'geography code']]
# total_residents.rename(columns={'General health: Total: All usual residents':'total residents'}, inplace=True)

f = 'maritalstatus-census2021-lsoa.csv'
df = pd.read_csv(data_folder1 + f)
# df = df.merge(total_residents, on =['geography code'])
df['percent married or in civil partnership'] = \
    df['Marital and civil partnership status: Married or in a registered civil partnership; measures: Value']/\
    df['Marital and civil partnership status: Total; measures: Value']
df=df[['geography',	'geography code', 'percent married or in civil partnership']]

df_married = df.set_index(['geography',	'geography code'])

# Join all of these

In [68]:
DF = df_age.join(df_married).join(df_unempl).join(df_health).\
            join(df_lan).join(df_dep).join(df_sex).join(df_rural)

In [69]:
DF.to_csv('../data/glavni/controls_first_group.csv')

# 2

In [78]:
import pandas as pd
import os

In [79]:
data_folder = '../data/controls/2021/QUERIED/'

## Ethnic background

In [80]:
first_f = 'ethnic_background.csv' 
DF = pd.read_csv(data_folder + first_f).\
    rename(columns={'mnemonic':'geography code'})

In [81]:
DF['percent asian'] = DF['Asian, Asian British or Asian Welsh'] / DF['Total: All usual residents']

DF['percent black'] = DF['Black, Black British, Black Welsh, Caribbean or African'] / DF['Total: All usual residents']

DF['percent mixed'] = DF['Mixed or Multiple ethnic groups'] / DF['Total: All usual residents']

DF['percent white'] = DF['White'] / DF['Total: All usual residents']

# DF['percent other ethnic'] = DF['Other ethnic group'] / DF['Total: All usual residents']

In [83]:
df_ethnic = DF[['geography code', 'percent asian','percent black', 'percent mixed', 'percent white']].\
            set_index(['geography code'])

## Religion

In [84]:
f2 = 'religion.csv' 
DF = pd.read_csv(data_folder + f2).\
    rename(columns={'mnemonic':'geography code'})

In [85]:
DF['percent no religion'] = DF['No religion'] / DF['Total: All usual residents']

DF['percent christian'] = DF['Christian'] / DF['Total: All usual residents']

# DF['percent buddhist'] = DF['Buddhist'] / DF['Total: All usual residents']

# DF['percent hindu'] = DF['Hindu'] / DF['Total: All usual residents']

DF['percent jewish'] = DF['Jewish'] / DF['Total: All usual residents']

DF['percent muslim'] = DF['Muslim'] / DF['Total: All usual residents']

# DF['percent sikh'] = DF['Sikh'] / DF['Total: All usual residents']

# DF['percent other religion'] = DF['Other religion'] / DF['Total: All usual residents']

In [86]:
df_religion=DF[['geography code', \
                'percent christian', 'percent jewish',\
                'percent no religion','percent muslim',\
               ]].set_index(['geography code'])

## central heating

In [87]:
first_f = 'central_heating.csv' 
DF = pd.read_csv(data_folder + first_f).\
    rename(columns={'mnemonic':'geography code'})

In [88]:
DF.head()

,2021 super output area - lower layer,geography code,Total: All households,No central heating,Wood only,District or communal heat networks only
0,Hartlepool 001A,E01011954,964,6,0,3
1,Hartlepool 001B,E01011969,603,5,0,1
2,Hartlepool 001C,E01011970,484,10,0,0
3,Hartlepool 001D,E01011971,518,0,0,0
4,Hartlepool 001F,E01033465,738,0,0,0

In [89]:
DF['percent no central heating'] = DF['No central heating'] / DF['Total: All households']

DF['percent wood heating'] = DF['Wood only'] / DF['Total: All households']

DF['percent communal heating'] = DF['District or communal heat networks only'] / DF['Total: All households']

In [91]:
df_heating = DF[['geography code', 'percent no central heating','percent wood heating',\
                  'percent communal heating']].set_index(['geography code'])

## distance travelled to work

In [92]:
first_f = 'distance_to_work.csv' 
DF = pd.read_csv(data_folder + first_f).\
    rename(columns={'mnemonic':'geography code'})

In [93]:
DF.head()

,2021 super output area - lower layer,geography code,Total: All usual residents aged 16 years and over in employment the week before the census,Less than 2km,2km to less than 5km,60km and over,Works mainly from home
0,Hartlepool 001A,E01011954,951,125,206,20,113
1,Hartlepool 001B,E01011969,555,33,130,17,82
2,Hartlepool 001C,E01011970,520,14,104,19,102
3,Hartlepool 001D,E01011971,760,41,135,20,145
4,Hartlepool 001F,E01033465,1029,63,175,26,228

In [94]:
DF['percent TFW less than 2km'] = DF['Less than 2km'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent TFW 2km to 5km'] = DF['2km to less than 5km'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent TFW 60km and over'] = DF['60km and over'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent WFH'] = DF['Works mainly from home'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

In [95]:
df_distance2work = DF[['geography code', 'percent TFW less than 2km',\
                       'percent TFW 2km to 5km',\
       'percent TFW 60km and over', 'percent WFH']].set_index(['geography code'])

# Hours worked

In [96]:
first_f = 'hours_worked.csv' 
DF = pd.read_csv(data_folder + first_f).\
    rename(columns={'mnemonic':'geography code'})

In [97]:
DF.head()

,2021 super output area - lower layer,geography code,Total: All usual residents aged 16 years and over in employment the week before the census,Part-time,Part-time: 15 hours or less worked,Full-time,Full-time: 49 or more hours worked
0,Hartlepool 001A,E01011954,952,331,80,621,70
1,Hartlepool 001B,E01011969,556,146,42,410,50
2,Hartlepool 001C,E01011970,521,144,35,377,58
3,Hartlepool 001D,E01011971,759,209,55,550,74
4,Hartlepool 001F,E01033465,1028,268,69,760,119

In [98]:
DF['percent part-time'] = DF['Part-time'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent 15 hours or less worked'] = DF['Part-time: 15 hours or less worked'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

# DF['percent full-time'] = DF['Full-time'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent 49 or more hours worked'] = DF['Full-time: 49 or more hours worked'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

In [99]:
df_hours_worked = DF[['geography code', 'percent part-time',\
                      'percent 15 hours or less worked',\
                      'percent 49 or more hours worked']].set_index(['geography code'])

## Commute type

In [100]:
first_f = 'commute_type.csv' 
DF = pd.read_csv(data_folder + first_f).\
    rename(columns={'mnemonic':'geography code'})

DF.head()

,2021 super output area - lower layer,geography code,Total: All usual residents aged 16 years and over in employment the week before the census,Work mainly at or from home,"Underground, metro, light rail, tram",Train,"Bus, minibus or coach",Taxi,"Motorcycle, scooter or moped",Driving a car or van,Passenger in a car or van,Bicycle,On foot
0,Hartlepool 001A,E01011954,950,113,0,3,39,19,3,604,71,14,77
1,Hartlepool 001B,E01011969,556,82,0,5,16,4,1,376,37,8,16
2,Hartlepool 001C,E01011970,522,102,0,8,14,3,4,342,28,3,13
3,Hartlepool 001D,E01011971,762,145,0,5,12,4,0,519,43,3,20
4,Hartlepool 001F,E01033465,1026,228,2,10,15,11,1,672,37,5,28

In [102]:
# DF['percent commute metro rail'] = DF['Underground, metro, light rail, tram'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

# DF['percent commute train'] = DF['Train'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

# DF['percent commute car'] = DF['Driving a car or van'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent commute bus'] = DF['Bus, minibus or coach'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent commute bicycle'] = DF['Bicycle'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

DF['percent commute on foot'] = DF['On foot'] / DF['Total: All usual residents aged 16 years and over in employment the week before the census']

In [103]:
df_commute = DF[['geography code', 'percent commute on foot',\
         'percent commute bus', 'percent commute bicycle']].\
        set_index(['geography code'])

## Population density

In [104]:
f2 = 'popdensity-nomis_2023_03_01_224549.csv'
df = pd.read_csv(data_folder1 + f2)
# df['geography'] = df['LSOA_2021'].apply(lambda x: str(x).split(':')[1])
df['geography code'] = df['LSOA_2021'].apply(lambda x: str(x).split(' : ')[0])
del df['LSOA_2021']
df['pop_density'] = df['pop_density'].str.replace(',', '').astype(float)
df_pop = df.copy()
df_pop = df_pop.set_index(['geography code'])
df_pop.head()

                pop_density
geography code
E01011954            5432.9
E01011969            1430.7
E01011970            2913.9
E01011971            6049.4
E01033465            4311.9

# Merge all into second part

In [105]:
DF_second_part = df_ethnic.join(df_religion).join(df_heating).\
        join(df_distance2work).join(df_hours_worked).join(df_commute).\
        join(df_pop)
DF_second_part.head()

,percent asian,percent black,percent mixed,percent white,percent christian,percent jewish,percent no religion,percent muslim,percent no central heating,percent wood heating,...,percent TFW 2km to 5km,percent TFW 60km and over,percent WFH,percent part-time,percent 15 hours or less worked,percent 49 or more hours worked,percent commute on foot,percent commute bus,percent commute bicycle,pop_density
geography code,,,,,,,,,,,,,,,,,,,,,
E01011954,0.008319,0.000000,0.002627,0.984238,0.487078,0.000000,0.452475,0.006570,0.006224,0.0,...,0.216614,0.021030,0.118822,0.347689,0.084034,0.073529,0.081053,0.041053,0.014737,5432.9
E01011969,0.004461,0.000000,0.004461,0.988104,0.659226,0.000744,0.295387,0.000000,0.008292,0.0,...,0.234234,0.030631,0.147748,0.262590,0.075540,0.089928,0.028777,0.028777,0.014388,1430.7
E01011970,0.006542,0.000000,0.003738,0.989720,0.638318,0.002804,0.308411,0.000000,0.020661,0.0,...,0.200000,0.036538,0.196154,0.276392,0.067179,0.111324,0.024904,0.026820,0.005747,2913.9
E01011971,0.003779,0.000000,0.003779,0.990930,0.602419,0.000756,0.339380,0.002268,0.000000,0.0,...,0.177632,0.026316,0.190789,0.275362,0.072464,0.097497,0.026247,0.015748,0.003937,6049.4
E01033465,0.006141,0.001024,0.005629,0.979529,0.578517,0.000512,0.362148,0.005115,0.000000,0.0,...,0.170068,0.025267,0.221574,0.260700,0.067121,0.115759,0.027290,0.014620,0.004873,4311.9

# Save second part

In [106]:
DF_second_part.to_csv('../data/glavni/controls_second_group.csv')

# Read in the first part

In [107]:
DF_first_part = pd.read_csv('../data/glavni/controls_first_group.csv')

# Merge first and second groups

In [108]:
DF_full = DF_second_part.merge(DF_first_part, on=['geography code'])

# Save

In [109]:
DF_full.to_csv('../data/glavni/controls.csv', index=None)

In [110]:
print (len(DF_full.columns))

35

In [111]:
print (list(DF_full.columns))

['geography code', 'percent asian', 'percent black', 'percent mixed', 'percent white', 'percent christian', 'percent jewish', 'percent no religion', 'percent muslim', 'percent no central heating', 'percent wood heating', 'percent communal heating', 'percent TFW less than 2km', 'percent TFW 2km to 5km', 'percent TFW 60km and over', 'percent WFH', 'percent part-time', 'percent 15 hours or less worked', 'percent 49 or more hours worked', 'percent commute on foot', 'percent commute bus', 'percent commute bicycle', 'pop_density', 'geography', 'percent children up to 14', 'percent aged 65plus', 'percent married or in civil partnership', 'percent unemployed', 'percent very good health', 'percent bad health', 'percent poor-english', 'percent highly-deprived', 'percent mid-deprived', 'percent male', 'total population']

In [112]:
print (len(DF))

35672